body {
    width: 100vw;
    /* height: 100vh; */
}

#header_container {
    width: 100%;
    height: 110px;
    /* background-color: #43a436; */
    display: flex;
    flex-direction: column;
}

#header_header {
    width: 100%;
    height: 70px;
    background-color: #43a436;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_infoeste_logo {
    color: white;
    font-family: "Monoton";
    font-size: 40px;
}
#header_fipp {
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
    color: white;
}

#nav_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #5dbd4e;
    border-left: 1px solid #5dbd4e;
    border-bottom: 1px solid #5dbd4e;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_item {
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.nav_item:link {
    text-decoration: none;
}
.nav_item:visited { 
    text-decoration: none; 
}

.nav_item:hover{
    color: #5dbd4e;
}
.nav_item:active { 
    text-decoration: none; 
}

.divider {
    width: 1px;
    height: 85%;
    background-color: #5dbd4e;
}

.princ{
    width: 90%;
    text-align: center;
    align-items: center;
    font-family: "Inter";
    font-size: 30px;
}
.vericode {
    margin-top: 60px;
    width: 100%;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    /* background-color: #f3f3f3; */
    gap: 30px;
    align-items: center;
}

.text{
    align-items: center;
    font-size:x-large;
}