body {
    width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
}

#header_container {
    /*width: 100%;*/
    height: 100%;
    /* background-color: #43a436; */
    display: flex;
    flex-direction: column;
}

#header_header {
    width: 100%;
    height: 70px;
    background-color: #43a436;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_infoeste_logo {
    color: white;
    font-family: "Monoton";
    font-size: 40px;
}

#header_fipp {
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
    color: white;
}

#nav_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #5dbd4e;
    border-left: 1px solid #5dbd4e;
    border-bottom: 1px solid #5dbd4e;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_item {
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav_item:link {
    text-decoration: none;
}

.nav_item:visited {
    text-decoration: none;
}

.nav_item:hover {
    color: #5dbd4e;
}

.nav_item:active {
    text-decoration: none;
}

.divider {
    width: 1px;
    height: 85%;
    background-color: #5dbd4e;
}

.princ {
    text-align: center;
    font-family: "Inter";
    font-size: 30px;
    margin-top: 10px;
}

.vericode {
    margin-top: 0px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    /* background-color: #f3f3f3; */
    gap: 30px;
    align-items: center;
}

.text {
    display: flex;
    /* border: 3px solid blue; */
    height: 100px;
    flex-direction: column;
    height: auto;
    text-indent: initial;
    border-collapse: separate;
    white-space-collapse: collapse
}

.text h3 {
    font-size: 25px;
    text-align: center;
    /* border: 3px solid red; */
}

.text p {
    margin: 0px 5% 0px 5%;
    text-align: justify;
    font-size: 20px;

}

.circle {
    position: fixed;
    top: 20%;
    left: 3px;
    width: 50px;
    text-decoration: none;
    height: 50px;
    background-color: #5dbd4e;
    border-radius: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.circle:link {
    text-decoration: none;
}

.circle:visited {
    text-decoration: none;
}

.circle:active {
    text-decoration: none;
}

.circle:hover {
    width: 150px;
    border-radius: 50px;
}

.circle:hover p {
    display: inline;
    color: white;
}

.circle p {
    display: none;
    margin: 0;
    font-family: "Inter";
    font-size: 20px;
    color: #5dbd4e;
    /* color: white; */
    padding: 0;
}