* {

    color: white;
    background-color: black;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.lista {
    float: left;
    text-align: left;
}

.tit {
    font-family: Bahnschrift Light;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 4px cyan, -2px -2px 4px cyan;
}

.info {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
}

.borda {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, cyan, #00ff95)1;
}

.bordaint {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, cyan, #00ff95)1;
}

.buscador {
    float: right;
    background-color: black;
}

.principal {
    width: 95%;
    height: 90%;
    margin: 5px auto;
    padding: 15px;


}

.topo {
    width: 99%;
    background-color: black;
    text-align: center;
    font-family: Algerian;
    font-size: 35px;
}

.lateral {
    width: 25%;
    height: 100%;
    background-color: black;
    float: left;
    padding-top: 15px;
    font-family: Arial Narrow;
    font-size: 30px;
}

.divfoto {
    text-align: center;
}

#foto {
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, cyan, #00ff95)1;

}
img{
    width: 250px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, cyan, #00ff95)1;

}

.divimgs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 6%;
    flex-direction: row;
    padding-bottom: 8px;
    
    
}


.conteudo {
    width: 74%;
    height: 100%;
    background-color: black;
    float: left;
    overflow-y: auto;
    padding-left: 6px;
    scrollbar-color: black;
}

.conteudo::-webkit-scrollbar {
    width: 18px;

}

.conteudo::-webkit-scrollbar-track {
    background: black;
}

.conteudo::-webkit-scrollbar-thumb {
    background-color: rgb(255, 217, 4);
    border-radius: 20px;
    border: 6px solid black;
}

