body {
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_container {
    width: 100%;
    height: 110px;
    /* background-color: #43a436; */
    display: flex;
    flex-direction: column;
}

#footer {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #43a436;
    justify-content: center;
    align-items: center;
}

#header_header {
    width: 100%;
    height: 70px;
    background-color: #43a436;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_infoeste_logo {
    color: white;
    font-family: "Monoton";
    font-size: 40px;
}
#header_fipp {
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
    color: white;
}

#nav_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_centered {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #5dbd4e;
    border-left: 1px solid #5dbd4e;
    border-bottom: 1px solid #5dbd4e;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav_item {
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.nav_item:link {
    text-decoration: none;
}
.nav_item:visited { 
    text-decoration: none; 
}

.nav_item:hover{
    color: #5dbd4e;
}
.nav_item:active { 
    text-decoration: none; 
}

.divider {
    width: 1px;
    height: 85%;
    background-color: #5dbd4e;
}

#content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content_centered {
    margin-top: 15px;
    width: 90%;
    height: 100%;
}

.title_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
}
.write_div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 20px;
}
.write_div p {
    text-align: justify;
}

.write_div p, span {
    font-family: "Inter";
}

.write_div p span {
    font-weight: 700;
}

.write_div ul li {
    font-family: "Inter";
    margin-left: 50px;
}

#cards_container {
    width: 100%;
    margin-top: 15px;
    background-color: #5dbd4e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

 #cards_container_centered {
    margin-top: 20px;
    width: 90%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 20px;
}

.card {
    background-color: white;
    height: 314px;
    width: 24%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card_centered {
    margin: 10px 0px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_images {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card_upper {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.card_upper_img {
    /* width: 45%; */
    max-width: 90.5px;
}

.fipp_img {
    height: 50px;
}

.card_title {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card_subtitle {
    font-family: "Inter";
    text-align: justify;
}

.img_linux {
    height: 200px;
}

.maratona_img {
    width: 90%;
}

#realize {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

#realize p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
}

#realize div {
    display: flex;
    gap: 30px;
}

#realize img {
    height: 50px;
}

@media (min-width: 1400px) {
    #cards_container {
        width: 100%;
        margin-top: 50px;
        background-color: #5dbd4e;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}